<?php

// Configuration file for Roundcube plugin shortmail_character_limiter

/**
 * Shortmail IMAP host
 */
$rcmail_config['shortmail_host'] = "imap.shortmail.com";


/**
 * Character limit
 * (See README for bug)
 */
$rcmail_config['character_limit'] = 498;
//$rcmail_config['character_limit'] = 500;

?>
